<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col col-text">
                <h2>{{number}}</h2>
                <p>{{title}}</p>
            </div>
            <div class="col col-icon">
               <div class="icon-c">
                <i [class]="icon" aria-hidden="true"></i>
               </div>
            </div>
        </div>
      
    </div>
    <div class="card-footer">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                  {{link}}
                  <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                </a>
             
            </li>
          </ul>
      </div>
  </div>