<div class="container-fluid">
    <div class="row aboutIntro justify-content-center ">
        <div class="col col-8">
            <h1>About Us</h1>
            <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium.</p>
        </div>
    </div>
    <div class="row aboutCard justify-content-center">
        <div class="col">
            <about></about>
        </div>
    </div>
    <div class="row justify-content-center aboutTitle">
        <h1>Our Team</h1>
    </div>
    <div class="row aboutTeam justify-content-center">
       <div class="col">
           <div class="row image justify-content-center">
               <img src="../../../assets/images/hamza.jpg" alt="" srcset="">
           </div>
           <div class="row name justify-content-center">
               <h1 >Hamza Chikar</h1>
           </div>
           <div class="row detail justify-content-center">
               <h3 >developpeur web and mobile</h3>
           </div>
       </div>
       <div class="col">
        <div class="row image justify-content-center">
            <img src="../../../assets/images/amjad.jpg" alt="" srcset="" >
        </div>
        <div class="row name justify-content-center">
            <h1 >Amjad Babacheikh</h1>
        </div>
        <div class="row detail justify-content-center">
            <h3>developpeur web and mobile</h3>
        </div>
    </div>
    </div>
    <div class="row justify-content-center aboutTitle"> 
        <h1>Our Work</h1>
    </div>
    <div class="row aboutWork justify-content-center">
        <div class="col">
            <div class="row  row-cols-1 row-cols-sm-2 row-cols-md-2  justify-content-center">
                <div class="col col-md-4">
                  <img src="../../../assets/images/work1.png" alt="" srcset="" >
                </div>
                <div class="col col-md-6">
                    <h1>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h1>
                    <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2  justify-content-center">
                <div class="col-md-6 pt-5 order-2 order-md-1 ">
                    <h1>wwqdqwdwdVoluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h1>
                    <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="col col-md-4 order-1 order-md-2 ">
                    <img src="../../../assets/images/work1.png" alt="" srcset="">
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2  justify-content-center">
                <div class="col col-md-4 ">
                    <img src="../../../assets/images/work1.png" alt="" srcset="">
                </div>
                <div class="col col-md-6 ">
                    <h1>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h1>
                    <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>
        </div>
    </div>
</div>