<nav class="navbar sideNav navbar-expand-md navbar-light flex-column">
    <a class="navbar-brand" href="#">Factura</a>
   
    <ul class="navbar-nav flex-column">
        <li class="nav-item title">navigation</li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dash">
            <i class="fa fa-tachometer cNav" aria-hidden="true"></i>
            <p class="cNav">Dashboard</p>
            </a>
        </li>
        <li class="nav-item title">app</li>
        <li class="nav-item">
            <a class="nav-link" routerLink="users">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
              <p class="cNav">Users</p>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-archive" aria-hidden="true"></i>
              <p class="cNav">Products</p>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-users" aria-hidden="true"></i>
              <p class="cNav">Clients</p>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-file-text" aria-hidden="true"></i>
              <p class="cNav">Devis</p>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/app/test">
                <i class="fa fa-file-text" aria-hidden="true"></i>
              <p class="cNav">Test</p>
              </a>
          </li>
      </ul>
  </nav>