<div class="container">
    <div class="row rowService row-cols-1 row-cols-lg-1 ">
        <div class="col col-lg-6">
            <div class="card" data-aos="fade-up" data-aos-duration="700">
                <div class="card-body" >
                    <div class="row rowContent align-items-center">
                        <div class="col col-lg-4">
                            <i class="fa fa-5x fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <div class="col col-lg-6">
                            <h1>Lorem Ipsum1</h1>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col col-lg-6">
            <div class="card" data-aos="fade-up" data-aos-duration="700" >
                <div class="card-body" >
                    <div class="row rowContent align-items-center">
                        <div class="col col-lg-4">
                            <i class="fa fa-5x fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <div class="col col-lg-6">
                            <h1>Lorem Ipsum2</h1>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col col-lg-6">
            <div class="card" data-aos="fade-up" data-aos-duration="700" >
                <div class="card-body" >
                    <div class="row rowContent align-items-center">
                        <div class="col col-lg-4">
                            <i class="fa fa-5x fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <div class="col col-lg-6">
                            <h1>Lorem Ipsum3</h1>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col col-lg-6">
            <div class="card" data-aos="fade-up" data-aos-duration="700">
                <div class="card-body" >
                    <div class="row rowContent align-items-center">
                        <div class="col col-lg-4">
                            <i class="fa fa-5x fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <div class="col col-lg-6">
                            <h1>Lorem Ipsum4</h1>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col col-lg-6">
            <div class="card" data-aos="fade-up" data-aos-duration="700">
                <div class="card-body" >
                    <div class="row rowContent align-items-center">
                        <div class="col col-lg-4">
                            <i class="fa fa-5x fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <div class="col col-lg-6">
                            <h1>Lorem Ipsum5</h1>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col col-lg-6">
            <div class="card" data-aos="fade-up" data-aos-duration="700" >
                <div class="card-body" >
                    <div class="row rowContent align-items-center">
                        <div class="col col-lg-4">
                            <i class="fa fa-5x fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <div class="col col-lg-6">
                            <h1>Lorem Ipsum6</h1>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>