<div class="container-fluid">
    <div class="row topSection justify-content-center ">
        <div class="filter"></div>
        <div class="titleCol col col-8">
            <h1 data-aos="fade-down" data-aos-duration="2000">
                Welcome to Factura
            </h1>
            <p data-aos="fade-down" data-aos-duration="2000">
                the ultimate solution for your business
            </p>
            <button data-aos="fade-in" data-aos-duration="2000" type="button" class="btn btn-lg btn-outline-success">Get started</button>
        </div>
    </div>
    <div class="row" style="position: relative; top: -100px;">
        <div class="row aboutSection justify-content-center">
            <div class="col">
                <about></about>
            </div>
        </div>
        <div class="row signUpSection justify-content-center ">
            <div class="col">
                <h1  data-aos="fade-down" data-aos-offset="300" data-aos-duration="500">Free Trial</h1>
                <p data-aos="fade-down" data-aos-offset="300" data-aos-duration="500">we give you a 3 months free trial to test our services</p>
                <button data-aos="fade-in" data-aos-offset="300" data-aos-duration="500" type="button" class="btn btn-lg btn-outline-light">Join us now</button>
            </div>
        </div>
        <div class="row serviceTitle justify-content-center ">
            <div class="col">
                <h1 data-aos="fade-up" data-aos-duration="1000">Our Services</h1>
            </div>
        </div>
        <div class="row serviceSection">
            <div class="col">
                <services></services>
            </div>
         
        </div>
    </div>
    
</div>