.container-fluid{
    margin: 0;
    height: 100%;
   
    .content{
        position: relative;
        .cardForm{
            max-width: 700px;
            height: 600px;
            border-radius: 10px;
            padding: 0;
            background-color: white;
           -webkit-box-shadow:0 10px 70px rgba(0, 0, 0, 0.459), 0 0 1px rgba(255, 255, 255, 0.514) inset;
           -moz-box-shadow:0 10px 70px rgba(255, 255, 255, 0.459), 0 0 1px rgba(255, 255, 255, 0.514) inset;
            box-shadow:0 10px 50px rgba(0, 0, 0, 0.459), 0 0 0 rgba(255, 255, 255, 0.514) inset;
            
            .row{
                width: 100%;
                margin: 0;
                padding: 0;
                background-color: transparent;
            }
            .spinnerRow{
                height: 100%;
            }
            .topRow{
                height: 45%;
                .avatar{
                    height: 80%;
                    padding: 0;
                    text-align: center;
                    img{
                        width: 200px;
                    }
                }
            }
            .formRow{
                height: 55%;
                
               form{
                   width: 60%;
                   height: fit-content;
                   .form-group{
                       mat-form-field{
                           width: 100%;
                           mat-label{
                               font-weight: 600;
                           }
                           input{
                               font-weight: 500;
                           }
                       }
                   }
                   button{
                       width: 100%;
                   }
               }
            }
        }
    }
    
}