<nav class="navbar  fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Factura</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="nav" >
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="about">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link" routerLink="service">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link">Pricing</a>
        </li>
       
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link" (click)="scrollDown()" >Contact</a>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#loginPage">Get started</button>
        </li>
        
      </ul>
     
    </div>
  
</nav> 