<div class="container-fluid">
    <div class="row justify-content-center">
    
        <div class="col col-sm-15 align-self-center">
            <div class="card profile-card-1">
                <img src="../../../assets/images/ocean.jpeg" alt="profile-sample1" class="background"/>
                <div class="profileImg">
                  <div class="changeImg">
                  </div>
                  <img *ngIf="user.user.avatar" src="../../../assets/images/hamza.jpg" alt="profile-image" class="profile"/>
                  <img *ngIf="!user.user.avatar" src="../../../assets/images/user1.png" alt="profile-image" class="profile"/>
                  
                </div>
                <div class="card-content" *ngIf="user">
                    <h2>{{user.user.name}}<small>{{user.user.role}}</small></h2>
                    <div class="row rowDetails justify-content-center">
                        <div class="col col-lg-8">
                            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                              <div formGroupName="userData">
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                          <i class="fa fa-user" aria-hidden="true"></i>
                                        </div>
                                      </div>
                                      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Username">
                                    </div>
                                    
                                  </div>
                                  <div class="form-group col-md-6">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                          <i class="fa fa-address-card" aria-hidden="true"></i>
                                        </div>
                                      </div>
                                      <input type="text" class="form-control" id="cin" formControlName="cin" placeholder="Username">
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                        <i class="fa fa-at" aria-hidden="true"></i>
                                      </div>
                                    </div>
                                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="email">
                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                      </div>
                                      <input type="text" class="form-control" id="role" formControlName="role" placeholder="role" readonly="readonly">
                                    </div>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                          <i class="fa fa-bookmark" aria-hidden="true"></i>
                                        </div>
                                      </div>
                                      <input type="text" class="form-control" id="specialty" formControlName="specialty" placeholder="specialty" readonly="readonly">
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                                <button type="submit" class="btn btn-success">save</button>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>

