<div class="container-fluid">
    <div class="row titleRow">
        <div class="col">
            <h2>Dashboard</h2>
            <app-test></app-test>
        </div>
    </div>
    <div class="row row-cols-1 r1">
        <div class="col leftCol col-xl-5 col-lg-6">
            <div class="row row-cols-1">
                <div class="col col-lg-6 ">
                    <div class="card">
                        <div class="card-body">
                            <div class="icon">
                                <i class="fa fa-1x fa-users" aria-hidden="true"></i>
                            </div>
                            <h5 class="titleCard text-muted mt-0" title="Number of Customers">Client</h5>
                            <h3 class="nbrC mt-3 mb-3">{{nbrClient}}</h3>
                        </div> 
                    </div>
                </div>
                <div class="col col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="icon">
                                <i class="fa fa-1x fa-user" aria-hidden="true"></i>
                            </div>
                            <h5 class="titleCard text-muted mt-0" title="Number of Customers">Employee</h5>
                            <h3 class="nbrC mt-3 mb-3">{{nbrUser}}</h3>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="col col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="icon">
                                <i class="fa fa-1x fa-archive" aria-hidden="true"></i>
                            </div>
                            <h5 class="titleCard text-muted mt-0" title="Number of Customers">Produit</h5>
                            <h3 class="nbrC mt-3 mb-3">{{nbrProducts}}</h3>
                        </div> 
                    </div>
                </div>
                <div class="col col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="icon">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                            </div>
                            <h5 class="titleCard text-muted mt-0" title="Number of Customers">Devis</h5>
                            <h3 class="nbrC mt-3 mb-3">{{nbrDevis}}</h3>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col rightCol col-xl-7 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <line-chart></line-chart>
                </div> 
            </div>
        </div>
    </div>
</div>