.container{
    position: relative;
    height: fit-content;
    margin-top: 20px;
    overflow: hidden;
    .row{
        position: relative;
        height: fit-content;
    }
    .titleRow{
        .col{
            h1{
               font-family: 'Raleway-bold'; 
               font-size: 40px;
            }
            h2{
                font-family: 'Raleway-semiBold'; 
                img{
                    width: 30px;
                }
                span{
                    color: orangered;
                    font-family: 'Pacifico';

                }
            }
        }
    }
    .dash{
        height:fit-content;
        .dash-content{
          
            .card{
                margin: 10px 0 10px 0;
            }
            .dash-card{
                .col{
                    height:fit-content;
                }
            }
         
        }
    }
}