.card{
    .card-header{
        height: 50px;
        span{
            font-weight: 500;
            font-size: 15px;
        }
    }
    .card-body{
        table {
            width: 100%;
           
          }
    }
}
