.card{
    .card-header{
        height: 50px;
        span{
            font-weight: 500;
            font-size: 15px;
        }
    }
    .card-body{
        table {
          position: relative;
            width: 95%;
            left: 2.5%;
           th{
             font-weight: 900;
           }
          }
    }
}
