<div class="container-fluid">
    <div class="row serviceIntro justify-content-center " >
        <div class="col col-8">
            <h1>Services</h1>
            <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium.</p>
        </div>
    </div>
    <div class="row serviceCard justify-content-center">
        <div class="col">
          <div class="container">
            <div class="row rowService row-cols-1 row-cols-lg-1 ">
                <div class="col col-lg-6" *ngFor="let service of services">
                  <services
                    [icon]="service.icon"
                    [title]="service.title"
                    [content]="service.content"
                  ></services>
                </div>
            </div>
          </div>   
        </div>
    </div>
    <div class="row justify-content-center featureTitle">
        <h1>Features</h1>
    </div>
   <div class="row featureDetail justify-content-center ">
       <div class="col">
           <div class="row featureText justify-content-center ">
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
           </div>
           <div class="row featureCard justify-content-center row-cols-1 row-cols-md-6" >
            <div class="col-md-6 cardContainer align-items-stretch " *ngFor="let mission of missions">
              <missions
                [title]="mission.title"
                [content]="mission.content"
              ></missions>   
            </div>
             
           </div>
       </div>
   </div>
    
</div>