@font-face{
    font-family: 'Raleway-semiBold';
    src: url(../../../assets/fonts/Raleway-SemiBold.ttf);
}
@font-face{
    font-family: 'Raleway-medium';
    src: url(../../../assets/fonts/Raleway-Medium.ttf);
}
.container-fluid{
    height: fit-content;
    margin: 0;
    padding: 0;
    h1{
        font-family: 'Raleway-semiBold';
        color: gray;
    }
    p{
        font-family: 'Raleway-medium';
    }
    .row{
        margin: 0;
        padding: 0;
    }
    .serviceIntro{
        width: 100%;
        min-height: 400px;
        height: fit-content;
        margin-bottom: 50px;
        background-color:  rgb(149, 193, 71);
        .col{
            top: 130px;
            text-align: center;
           
            h1{
                font-size: 60px;
                color: white;
            }
            p{
                color: white;
                margin-top: 40px;
                font-size: 15px;
                line-height: 23px;
            }
        }
    }
    .serviceCard{
        position: relative;
        height: fit-content;
        min-height: 500px;
        margin: 0;
        padding: 0;
       .col{
        .container{
            margin-top: 50px;
            .row{
                margin: 0;
                padding: 0;
            }
           
            .rowService{
                width: 100%;
                margin-top:50px ;
                .col{
                    min-height: 200px;
                    height: fit-content;
                    margin-bottom: 50px;
                    
                }
            }
        }
       }
    }
    .featureTitle{
        margin-top: 50px;
        margin-bottom: 30px;
        h1{
            font-size: 50px;
        }
    }

    .featureDetail{
        width: 100%;
        .col{
            .featureText{
                position: relative;
                width: 80%;
                left: 10%;
                p{
                    text-align: center;
                }
            }
            .featureCard{
                position: relative;
                width: 80%;
                left: 10%;
                margin-top: 30px;
                .cardContainer{
                    position: relative;
                    margin-bottom: 50px;
                  
                }
            }
        }
    }
  
    
}