<div class="container-fluid">
    <div class="row serviceIntro justify-content-center " >
        <div class="col col-8">
            <h1>Services</h1>
            <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium.</p>
        </div>
    </div>
    <div class="row serviceCard justify-content-center">
        <div class="col">
            <services></services>
        </div>
    </div>
    <div class="row justify-content-center featureTitle">
        <h1>Features</h1>
    </div>
   <div class="row featureDetail justify-content-center ">
       <div class="col">
           <div class="row featureText justify-content-center ">
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
           </div>
           <div class="row featureCard justify-content-center row-cols-1 row-cols-md-6" >
            <div class="col-md-6 cardContainer align-items-stretch ">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Our Mission</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
                    <div class="read-more"><a href="#"><i class="fa fa-arrow-right"></i> Read More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 cardContainer align-items-stretch " >
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Our Mission</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
                    <div class="read-more"><a href="#"><i class="fa fa-arrow-right"></i> Read More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 cardContainer align-items-stretch">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Our Mission</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
                    <div class="read-more"><a href="#"><i class="fa fa-arrow-right"></i> Read More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 cardContainer align-items-stretch " >
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Our Mission</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
                    <div class="read-more"><a href="#"><i class="fa fa-arrow-right"></i> Read More</a></div>
                  </div>
                </div>
              </div>
              
           </div>
       </div>
   </div>
    
</div>